// Variables
@import 'variables';
@import 'reset';

/* Font */

@font-face {
    font-family: "Montserrat";
    src: url('../fonts/Montserrat.ttf');
}

body{
    font-family: "Montserrat";
    color: $black;
}

/* Main */

.h1{
    font-size: 32px;
    line-height: 32px;
    font-weight: 700;
    margin-bottom: 24px;
}

.h2{
    font-size: 24px;
    line-height: 24px;
    font-weight: 500;
}

.h3{
    font-size: 20px;
    line-height: 20px;
    font-weight: 500;
}

.btn{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 16px;
    border-radius: 4px;
    height: 36px;
    outline: none;
    border: none;
    background-color: $main;
    font-size: 18px;
    font-weight: 500;
    color: $white;
    cursor: pointer;
    transition: opacity .3s ease;
}

.btn:hover{
    opacity: .8;
}

.btn2{
    height: auto;
    outline: none;
    border: none;
    background-color: unset;
    font-size: 18px;
    font-weight: 500;
    color: $main;
    cursor: pointer;
    transition: opacity .3s ease;
}

.btn2:hover{
    opacity: .8;
}

.btn3{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 16px;
    border-radius: 4px;
    height: 36px;
    border: 1px solid $main;
    outline: none;
    background-color: unset;
    font-size: 18px;
    font-weight: 500;
    color: $main;
    cursor: pointer;
    transition: opacity .3s ease;
}

.btn3:hover{
    opacity: .8;
}

.btn .btn-icon{
    margin-right: 8px;
    width: 20px;
    height: 20px;
}

.dd{
    position: relative;
    width: 100%;
}

.dd-value{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 16px);
    height: 24px;
    cursor: pointer;
    padding: 4px 8px;
    border-radius: 4px;
    border: 1px solid $gray;
}

.dd-icon{
    width: 16px;
    height: 16px;
    transition: transform .3s ease;
}

.dd__list{
    background-color: $white;
    z-index: 10;
    border: 1px solid $gray;
    border-radius: 4px;
    position: absolute;
    width: 100%;
    max-height: 160px;
    overflow-y: auto;
}

.dd__list-item{
    cursor: pointer;
    padding: 8px;
    border-bottom: 1px solid $gray;
    transition: opacity .3s ease, background-color .3s ease;
}

.dd__list-item:hover{
    background-color: $gray;
    opacity: .5;
}

.dd__list-item:last-child{
    border-bottom: 0;
}

.dd-active{
    background-color: $main;
    color: $white;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
}

.form-group{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 24px;
}

.form-group:last-child{
    margin-bottom: 0;
}

.label{
    font-size: 12px;
    margin-bottom: 4px;
    text-transform: uppercase;
}

.input{
    width: calc(100% - 6px);
    height: 32px;
    font-size: 16px;
    border: 1px solid $gray;
    border-radius: 4px;
    outline: none;
    transition: border .3s ease;
}

.input:focus{
    border: 1px solid $main;
}

.content{
    padding: 0 40px;
}

// Header

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0 40px;
    background-color: $white;
    border-bottom: 1px solid $gray;
    margin-bottom: 40px;

    &__logo{
        &-img{
            height: 40px;
        }
    }

    &__nav{
        display: flex;
        justify-content: flex-end;
        align-items: center;

        &-user{
            font-size: 20px;
            color: $black;
            margin-right: 8px;
        }
    }
}

// Login

.login{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: $main;

    &-body{
        background-color: $white;
        width: 500px;
        height: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
        padding: 0 40px;
    }

    &-logo{
        height: 60px;
        margin-bottom: 24px;
    }

    &__form{
        width: 100%;

        &-group{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}

// Panel

.panel{
    &__header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 24px;
    }

    &__search{
        margin-bottom: 24px;
        display: grid;
        grid-template-columns: 1fr auto;
        grid-gap: 16px;
    }

    &__table{
        margin-bottom: 24px;

        .table-title{
            font-weight: 700;
            cursor: pointer;
            user-select: none;

            &.active{
                color: $main;
            }
        }

        &-row{
            display: grid;
            grid-template-columns: 40px 1fr 200px 200px 200px 100px;
            border-bottom: 1px solid $gray;

            &:first-child{
                border-top: 1px solid $gray;
            }

            &-full{
                width: 100%;
                padding: 16px 0;
                font-size: 20px;
                font-weight: 700;
                text-align: center;
            }

            &-cell{
                border-right: 1px solid $gray;
                padding: 20px 0;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;

                &:first-child{
                    border-left: 1px solid $gray;
                }

                &-icon{
                    background-color: $main;
                    width: 24px;
                    height: 24px;
                    padding: 4px;
                    border-radius: 4px;
                    cursor: pointer;
                    transition: opacity .3s ease;

                    &:hover{
                        opacity: .8;
                    }

                    &:first-child{
                        margin-right: 8px;
                    }
                }
            }
        }

        &-row2{
            display: grid;
            grid-template-columns: 40px 1fr 1fr 200px 100px;
            border-bottom: 1px solid $gray;

            &:first-child{
                border-top: 1px solid $gray;
            }

            .table-title {
                cursor: unset;
            }

            &-cell{
                border-right: 1px solid $gray;
                padding: 20px 0;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;

                &:first-child{
                    border-left: 1px solid $gray;
                }

                &-icon{
                    background-color: $main;
                    width: 24px;
                    height: 24px;
                    padding: 4px;
                    border-radius: 4px;
                    cursor: pointer;
                    transition: opacity .3s ease;

                    &:hover{
                        opacity: .8;
                    }

                    &:first-child{
                        margin-right: 8px;
                    }
                }
            }
        }
    }

    &__pagination{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 40px;

        &-item{
            margin-right: 8px;
            background-color: $white;
            color: $main;
            border: 1px solid $main;
            font-size: 18px;
            width: 32px;
            text-align: center;
            padding: 4px;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color .3s ease, color .3s ease;

            &:hover{
                background-color: $main;
                color: $white;
            }

            &.active{
                background-color: $main;
                color: $white;
            }
        }

        &-dots{
            margin-right: 4px;
            font-size: 18px;
        }
    }
}

// Add user

.add{
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;

    &-body{
        background-color: $white;
        width: 500px;
        padding: 24px;
        border-radius: 4px;
    }

    &__form-title{
        margin-bottom: 24px;
    }

    &__group{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
